* {
  margin: 0;
}

body {
  background-color: #1d1b1b;
  font-family: "Overpass";
}

h1,
h2,
h3 {
  font-family: "Permanent Marker";
  font-weight: 400;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
}

code {
  background-color: {
    rgba(27,31,35,0.05)
  };
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2,
  h3 {
    font-size: 2rem;
  }
}
