.welcome-container {
  height: 100vh;
  background-color: black;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.welcome-text {
  color: #f5efe1;
  font-family: Monoton;
  font-weight: 400;
  font-size: 2.65rem;
}
